VITE_SUPABASE_URL=https://puorvopqhmtgvglldhpd.supabase.co
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_LvOTm4alDZI4wYUeXD7v8Q_FHMqrton
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1b3J2b3BxaG10Z3ZnbGxkaHBkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAzOTc3ODQsImV4cCI6MjA4NTk3Mzc4NH0.88KLm52tjFS_PXQfNk8SS7-6u4s50v7R4FKMUJ5_Emw